@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <ul class="nav-item">
        <form method="post" asp-controller="account" asp-action="logout">
            <button type="submit" style="width:auto"
                    class="nav-link btn btn-link py-0">
                Logout @User.Identity.Name
            </button>
        </form>
    </ul>
}
else
{
    <ul class="nav-item">
        <a class="nav-link" style="border-radius:25px;" asp-controller="account" asp-action="register">
            Registrar
        </a>
    </ul>
    <ul class="nav-item">
        <a class="nav-link" style="color:white;background-color:blue;border-radius:15px;" asp-controller="account" asp-action="login">
             Login
        </a>
    </ul>
}