@{
    ViewData["Title"] = "Acesso Negado";
}

<div >
    <div class="container">
        <h1 style="color:red;"><b>Acesso Negado!</b></h1>
        <p class="lead">Você não tem autorização para acessar esta página.</p>
        
    </div>
    <div style="text-align:center;">
        <img style="height:350px;width:350px;" src="~/images/pare.png" />
        </div>
</div>
@*divisor de linhas*@
<hr class="featurette-divider">