@{
    ViewData["Title"] = "Página inicial";
}
<main>
    <header>
        @*intro animada*@
        <div class="intro">
        <h1 class="logo-header">
                <span class="logo">Pet</span><span class="logo">Amigo🐶</span>
            </h1>
        </div>
        @*carrousel*@
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            </ol>
            @*primeiro slide, do carrousel*@
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="~/images/3796912.jpg" alt="Primeiro Slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h5><strong class="carrousel">Doação de pets 🐶</strong></h5>
                        <p>                           
                            <strong class="carrousel">
                                Aqui, você encontrará uma maneira fácil e segura de encontrar um novo lar para o seu animal de estimação.

                                Sabemos que, às vezes, circunstâncias imprevistas surgem e tornam impossível continuar cuidando de um animal de estimação. Nesses momentos, encontrar um novo lar para o seu animal pode ser uma solução difícil, mas necessária.
                            </strong>
                        </p>
                    </div>
                </div>
                @*segundo slide, do carrousel*@
                <div class="carousel-item">
                    <img class="d-block w-100" src="~/images/1314166.jpg" alt="Segundo Slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h5><strong class="carrousel">🐱 Adoção de pets </strong></h5>
                        <p>
                            <strong class="carrousel">
                                Aqui, você encontrará uma grande variedade de animais que estão em busca de um lar amoroso e acolhedor.

                                Adotar um animal de estimação é uma decisão que traz muitas recompensas. Além de oferecer um lar seguro e amoroso para um animal que precisa, você também estará recebendo um companheiro fiel e leal para compartilhar a vida.
                            </strong>
                        </p>
                    </div>
                </div>
                @*terceiro slide, do carrousel*@
                <div class="carousel-item">
                    <img class="d-block w-100" src="~/images/260845.jpg" alt="Terceiro Slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h5><strong class="carrousel">🐶 Achados e Perdidos 🐱</strong></h5>
                        <p>
                            <strong class="carrousel">
                                Aqui você encontrará um espaço destinado a ajudar a reunir animais de estimação amados e suas famílias. Se você perdeu seu fiel companheiro ou se deparou com um cachorro perdido, você veio ao lugar certo. Nossa plataforma é projetada para conectar pessoas que buscam seus animais de estimação desaparecidos com aqueles que encontraram cães perdidos.
                            </strong>
                        </p>
                    </div>
                </div>
                @*botões do carrousel*@
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only"></span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only"></span>
                </a>
            </div>
            @*divisor de linhas*@
            <hr class="featurette-divider">
    </header>
        <div cz-shortcut-listen="true" >
        <div class="scrollReveal">
        <div class="row">
            <div class="col-8">
            @*Título 01*@
                <h1 class="display-4 font-weight-normal" >Adoção</h1>
                    @*descriçao 01*@
                <p class="lead font-weight-normal">
                    <strong class="inicialDestaqueAzul">
                    Ao adotar um cão ou um gato, estamos oferecendo uma segunda chance a um ser vivo que muitas vezes foi negligenciado, maltratado ou abandonado.</strong> Esses animais merecem um lar amoroso, onde possam receber cuidados adequados, alimentação, abrigo e carinho. A adoção permite que eles sejam integrados a uma família, recebam afeto e se tornem parte ativa de uma comunidade.
                Além do aspecto emocional, a adoção de animais traz benefícios práticos. Ao optarmos pela adoção em vez da compra, estamos ajudando a reduzir o número de animais abandonados nas ruas e em abrigos. A superpopulação animal é um problema sério, que resulta em sofrimento e morte para muitos animais. Ao adotar, estamos dando uma chance a um animal que, de outra forma, poderia ser sacrificado ou passar toda a sua vida em um ambiente institucional.
                </p>           
                @*botão 01*@
            <a class="btn btn-outline-secondary" class="nav-link" asp-area="" asp-controller="Doacaos" asp-action="Index">Adote um Pet</a>
                <div class="product-device shadow-sm d-none d-md-block"></div>
                <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
            </div>           
        <div class="col-4">
            @*propaganda ração*@
                    <a href="https://www.cobasi.com.br/pesquisa?terms=ra%C3%A7%C3%A3o%20de%20cachorro&p=are&ranking=1&typeclick=1&ac_pos=header" target="_blank"><img src="~/images/Story instagram delivery ração para pet amarelo e vermelho.gif" style="width:350px; height:460px;" alt="Propaganda de ração" /></a>
            </div>
        </div>
        </div>
        @*divisor de linhas*@
        <hr class="featurette-divider">   
        <div class="scrollReveal">
        <div class="row">
            <div class="col-4">
                    @*propaganda ração*@
                    <a href="https://www.petz.com.br/busca?q=ra%C3%A7%C3%A3o" target="_blank">
                        <img src="~/images/beneficios da ração2.gif" style="width:350px; height:490px;" alt="propaganda de ração" />
                    </a>
            </div>             
            <div class="col-8">
            @*Título 02*@
            <h1 class="display-4 font-weight-normal">Doação</h1>
                   @* descrição 02*@
            <p class="lead font-weight-normal">
                    Primeiramente, a doação de cães e gatos contribui diretamente para o controle populacional desses animais.<strong class="inicialDestaqueAzul">
                    A reprodução descontrolada pode levar a um aumento do número de animais de rua, resultando em problemas como superlotação de abrigos e falta de recursos para cuidar adequadamente deles. </strong> Ao adotar um animal resgatado, você está ajudando a reduzir o número de animais abandonados e oferecendo a eles uma vida melhor.
                Além disso, a doação de cães e gatos promove o amor e a compaixão pelos animais. Ao adotar um animal de estimação, você está proporcionando a ele um lar amoroso e cuidados adequados. Essa atitude não apenas beneficia o animal, mas também traz inúmeros benefícios emocionais e terapêuticos para o adotante. Estudos mostram que ter um animal de estimação pode reduzir o estresse, a ansiedade e até mesmo melhorar a saúde física.
            </p>
                    @*botão 02*@
            <a class="btn btn-outline-secondary" class="nav-link" asp-area="" asp-controller="Doacaos" asp-action="Create">Doe um pet</a>           
                <div class="product-device shadow-sm d-none d-md-block"></div>
                <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
            </div>
        </div>
        </div>
        @*divisor de linhas*@
        <hr class="featurette-divider">
        <div class="scrollReveal">
        <div class="row">
        <div class="col-8">
                @*Título 03*@
            <h1 class="display-4 font-weight-normal">Pets Perdidos</h1>
                    @*descrição 03*@
            <p class="lead font-weight-normal">
                Cães e gatos perdidos são uma triste realidade que afeta muitos lares e comunidades. Esses animais, que tanto enriquecem nossas vidas com amor e companhia, muitas vezes acabam se perdendo e enfrentando uma situação assustadora e confusa.
                    <strong class="inicialDestaqueAzul">
                Quando um cão ou gato se perde, sua segurança e bem-estar são colocados em risco. Eles podem se encontrar em ambientes desconhecidos, longe de sua família e dos lugares que conhecem como lar.</strong> Isso pode causar medo, estresse e até mesmo colocar suas vidas em perigo, especialmente quando estão sujeitos a condições adversas ou a encontros com outros animais ou veículos.
            </p>
                    @*botão 03*@
            <a class="btn btn-outline-secondary" class="nav-link" asp-area="" asp-controller="Home" asp-action="Perdido">Perdidos: Viu algum deles por aí?</a>
                <div class="product-device shadow-sm d-none d-md-block"></div>
                <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
            </div>
                @*propaganda ração*@
            <div class="col-4">
                    <a href="https://www.petlove.com.br/busca?q=ra%C3%A7%C3%A3o" target="_blank"><img src="~/images/Instagram Post Lembrete Pet Shop Amarelo e Verde.gif" style="width:350px; height:400px;" alt="propaganda de ração" /></a>
            </div>
        </div>
        </div>
            @*divisor de linhas*@
            <hr class="featurette-divider">
        </div>
        <div cz-shortcut-listen="true">
        <div class="scrollReveal">
                <div class="row mb-2">
                    <div class="col-md-6" >
                        <div class="card flex-md-row mb-4 shadow-sm h-md-250" >
                            <div class="card-body d-flex flex-column align-items-start">
                                @*Seção 01*@
                        <strong class="d-inline-block mb-2 text-primary">Trabalho </strong>
                                <h3 class="mb-0">
                                    @*Título 01*@
                                <a class="text-dark" href="https://g1.globo.com/trabalho-e-carreira/noticia/2022/07/21/licenca-peternidade-empresas-dao-folgas-a-pais-de-pets.ghtml" target="_blank">Licença PETernidade</a>
                                </h3>
                                @*Data 01*@
                                <div class="mb-1 text-muted">21 de Julho de 2022</div>
                                @*descrição 01*@
                            <p class="card-text mb-auto" style=" color: black;">Ao decidir pela adoção, colaboradores devem apresentar ao RH uma documentação que comprove a iniciativa para usufruir do benefício. <a href="https://g1.globo.com/trabalho-e-carreira/noticia/2022/07/21/licenca-peternidade-empresas-dao-folgas-a-pais-de-pets.ghtml" target="_blank">Continue lendo</a></p>
                        
                            </div>
                        <img class="card-img-right flex-auto d-none d-lg-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" style="width: 200px; height: 250px;" src="~/images/savio-e-maria-isis.webp" data-holder-rendered="true" alt="Licença Peternidade">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                            <div class="card-body d-flex flex-column align-items-start">
                        @*Seção 02*@
                                <strong class="d-inline-block mb-2 text-success">Carreira</strong>
                                <h3 class="mb-0">
                            @*Título 02*@
                                <a class="text-dark" href="https://forbes.com.br/carreira/2023/02/projeto-de-lei-permite-licenca-para-pais-de-pet-em-caso-de-morte/" target="_blank">
                                Projeto de lei permite licença para "pais de pet" em caso de morte
                            </a>
                                </h3>
                        @*Data 02*@
                                <div class="mb-1 text-muted">13 de Fevereiro de 2023</div>
                        <p class="card-text mb-auto" style=" color: black;">
                            @*descrição 02*@
                            Um dia fora do trabalho para cuidar das pendências.
                                <a href="https://forbes.com.br/carreira/2023/02/projeto-de-lei-permite-licenca-para-pais-de-pet-em-caso-de-morte/" target="_blank">Continue lendo</a>
                            </div>
                        <img class="card-img-right flex-auto d-none d-lg-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" style="width: 200px; height: 250px;" src="~/images/carreira-pet-licenca.jpg" data-holder-rendered="true" alt="licença pet">
                        </div>
                    </div>
            <div class="col-md-6">
                <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        @*Seção 03*@
                        <strong style=" color: purple;">Ciência </strong>
                        <h3 class="mb-0">
                            @*Título 03*@
                                <a class="text-dark" href="https://universoracionalista.org/caes-que-vivem-na-zona-de-chernobyl-sao-geneticamente-distintos-mostra-estudo/" target="_blank">Cães de Chernobyl</a>
                        </h3>
                        @*Data 03*@
                        <div class="mb-1 text-muted">15 de junho de 2023</div>
                        @*descrição 03*@
                            <p class="card-text mb-auto" style=" color: black;">Cães que vivem na zona de Chernobyl são geneticamente distintos, mostra estudo. <a href="https://universoracionalista.org/caes-que-vivem-na-zona-de-chernobyl-sao-geneticamente-distintos-mostra-estudo/" target="_blank">Continue lendo</a></p>
                        
                    </div>
                        <img class="card-img-right flex-auto d-none d-lg-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" style="width: 200px; height: 250px;" src="~/images/chernocaes.jpg" data-holder-rendered="true" alt="cães de chernobyl">
                </div>
            </div>
            <div class="col-md-6">
                <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        @*Seção 04*@
                        <strong style=" color: red;">Saúde</strong>
                        <h3 class="mb-0">
                            @*Título 04*@
                                <a class="text-dark" href="https://g1.globo.com/ms/mato-grosso-do-sul/noticia/2023/06/15/caes-e-gatos-tambem-podem-ficar-gripados-veja-quais-cuidados-ter-em-dias-mais-frios.ghtml" target="_blank">
                                Cães e gatos também podem ficar gripados
                            </a>
                        </h3>
                        @*Data 04*@
                        <div class="mb-1 text-muted">15 de Junho de 2023</div>
                        <p class="card-text mb-auto" style=" color: black;">
                            @*descrição 04*@
                            As variações nas temperaturas podem ocasionar doenças respiratórias nos pets.
                                <a href="https://g1.globo.com/ms/mato-grosso-do-sul/noticia/2023/06/15/caes-e-gatos-tambem-podem-ficar-gripados-veja-quais-cuidados-ter-em-dias-mais-frios.ghtml" target="_blank">Continue lendo</a>
                    </div>
                        <img class="card-img-right flex-auto d-none d-lg-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" style="width: 200px; height: 250px;" src="~/images/cachorro-com-frio-petlove.jpg" data-holder-rendered="true" alt="cães com frio">
                </div>
            </div>
            <div class="col-md-6">
                <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        @*Seção 05*@
                        <strong style=" color: orange;">Dicas</strong>
                        <h3 class="mb-0">
                            @*Título 05*@
                                <a class="text-dark" href="https://canaldopet.ig.com.br/cuidados/dicas/2023-06-18/dicar-para-quem-adotar-primeiro-animal-de-estimacao.html.ampstories" target="_blank">
                                Vai adotar o primeiro pet? Veja algumas dicas importantes
                            </a>
                        </h3>
                        @*Data 05*@
                        <div class="mb-1 text-muted">16 de Junho de 2023</div>
                        <p class="card-text mb-auto" style=" color: black;">
                            @*descrição 05*@
                            Dicas de como preparar a casa para os pets.
                                <a href="https://canaldopet.ig.com.br/cuidados/dicas/2023-06-18/dicar-para-quem-adotar-primeiro-animal-de-estimacao.html.ampstories" target="_blank">Continue lendo</a>
                    </div>
                    <img class="card-img-right flex-auto d-none d-lg-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" style="width: 200px; height: 250px;" src="~/images/istockphoto-1417882544-170667a.webp" data-holder-rendered="true" alt="dicas de adoção">
                </div>
            </div>
            <div class="col-md-6">
                <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        @*Seção 06*@
                        <strong style=" color: lawngreen;">Dinheiro</strong>
                        <h3 class="mb-0">
                            @*Título 06*@
                                <a class="text-dark" href="https://revistapegn.globo.com/gestao/noticia/2023/06/brasileiro-fatura-milhoes-com-salao-de-beleza-para-pets-nos-estados-unidos.ghtml" target="_blank">
                                Brasileiro fatura milhões com salão de beleza para pets nos Estados Unidos
                            </a>
                        </h3>
                        @*Data 06*@
                        <div class="mb-1 text-muted">16 de Junho de 2023</div>
                        <p class="card-text mb-auto" style=" color: black;">
                            @*descrição 06*@
                                <a href="https://revistapegn.globo.com/gestao/noticia/2023/06/brasileiro-fatura-milhoes-com-salao-de-beleza-para-pets-nos-estados-unidos.ghtml" target="_blank">Continue lendo</a>
                    </div>
                    <img class="card-img-right flex-auto d-none d-lg-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" style="width: 200px; height: 250px;" src="~/images/Cute_Pet_Dogs_Corgi_Photography_HD_Wallpaper_1366x768.jpg" data-holder-rendered="true" alt="brasilero, fatura milhões com salão">
                </div>
            </div>           
            @*divisor de linhas*@
            <hr class="featurette-divider">
        </div>
</main>
@*Gráficos*@
<body cz-shortcut-listen="true">
    @*Título*@
    <div class="scrollReveal">
    <main role="main" class="row" >
            @*propaganda ração*@
        <div class="col-4">
                <a href="https://lojagatamia.com.br/" target="_blank">
                    <img src="~/images/dicas para deixar gato tranquilo2.gif" style="width:350px; height:400px;" alt="propaganda de loja de gatos" />
                </a>             
        </div>
        @*Gráfico*@
        <div class="col-8">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Top 10 países com mais cães no mundo</h1>
                </div>
                <canvas class="my-4 w-100 chartjs-render-monitor" id="myChart" width="1088" height="458" style="display: block; width: 544px; height: 229px;"></canvas>  
                </div>
          </main>
        <div role="main" class="row">
            @*Gráfico*@
            <div class="col-8">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Gráfico de castração</h1>
                </div>

                <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
            </div>
            @*propaganda de castração*@
            <div class="col-4">
                <a href="https://www.prefeitura.sp.gov.br/cidade/secretarias/saude/saude_e_protecao_ao_animal_domestico/index.php?p=272489" target="_blank">
                    <img src="~/images/Post para Instagram Campanha de Castração 2.gif" style="width:350px; height:400px;" alt="propaganda de castração" />
                </a>
            </div>
        </div>
            </div>
    <!-- Gráficos script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>
        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
          type: 'line',
          data: {
                labels: ["Romênia", "França", "Argentina", "Índia", "Filipinas", "Japão", "Rússia", "China", "Brasil", "Estados Unidos"],
            datasets: [{
                    data: [4100000, 7400000, 9200000, 10200000, 11600000, 12000000, 15000000, 27400000, 35700000, 75800000],
              lineTension: 0,
              backgroundColor: 'transparent',
              borderColor: '#007bff',
              borderWidth: 4,
              pointBackgroundColor: '#007bff'
            }]
          },
          options: {

            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: false
                }
              }]
            },
            legend: {
              display: false,
            }
          }
        });
        //barchart
        // Set new default font family and font color to mimic Bootstrap's default styling
        Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
        Chart.defaults.global.defaultFontColor = '#292b2c';

        // Bar Chart Example
        var ctx = document.getElementById("myBarChart");
        var myLineChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ["2010", "2011", "2012", "2013", "2014", "2015", "2016", "2017", "2018", "2019", "2020", "2021", "2022"],
                datasets: [{
                    label: "Qtd. Castração",
                    backgroundColor: "rgba(2,117,216,1)",
                    borderColor: "rgba(2,117,216,1)",
                    data: [52270, 111836, 115149, 116985, 71874, 96683, 89840, 95343, 103844, 103823, 60781, 98616, 102755],
                }],
            },
            options: {
                scales: {
                    xAxes: [{
                        time: {
                            unit: 'month'
                        },
                        gridLines: {
                            display: false
                        },
                        ticks: {
                            maxTicksLimit: 6
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            min: 0,
                            max: 125000,
                            maxTicksLimit: 5
                        },
                        gridLines: {
                            display: true
                        }
                    }],
                },
                legend: {
                    display: false
                }
            }
        });
    </script>
</body>
@*divisor de linhas*@
<hr class="featurette-divider">
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <h1 class="display-4 font-weight-normal">Curiosidades sobre <span style="color:blue">Cães</span> e <span style="color:deeppink">Gatos</span></h1>
</div>
@*divisor de linhas*@
<hr class="featurette-divider">
<body cz-shortcut-listen="true">
    <main role="main">
        <div class="scrollReveal">
        <div class="container">           
            <!-- Exemplo de linha de colunas -->
            <div class="row">
                <div class="col-md-4">
                    @*Título da curiosidade 01*@
                    <h2>Diversidade de raças</h2>
                    @*descrição da curiosidade 01*@
                    <p>Existem mais de 340 raças reconhecidas oficialmente em todo o mundo, com tamanhos, formas e características variadas. <span style="color:blue">cães</span> podem ser pequenos como o Chihuahua ou grandes como o Dogue Alemão.</p>
                </div>
                <div class="col-md-4">
                    @*Título da curiosidade 02*@
                    <h2>Sentido do olfato poderoso</h2>
                    @*descrição da curiosidade 02*@
                    <p>Os <span style="color:blue">cães</span> têm um olfato extremamente aguçado. Eles possuem cerca de 220 milhões de receptores de cheiro no nariz, em comparação com os 5 milhões dos seres humanos. Essa habilidade torna-os excelentes farejadores e é por isso que são usados em tarefas como busca e resgate, detecção de drogas e rastreamento de pessoas desaparecidas.</p>
                </div>
                <div class="col-md-4">
                    @*Título da curiosidade 03*@
                    <h2>Comunicação através da cauda</h2>
                    @*descrição da curiosidade 03*@
                    <p>A cauda dos <span style="color:blue">cães</span> é uma forma importante de comunicação. Quando estão felizes, geralmente abanam a cauda. O movimento pode variar de um lento balançar a uma agitação animada, dependendo do nível de excitação.</p>
                </div>
            </div>
            <hr>
        </div> <!-- /container -->
        <div class="container">
            <!-- Exemplo de linha de colunas -->
            <div class="row">
                <div class="col-md-4">
                    @*Título da curiosidade 04*@
                    <h2>Visão noturna limitada</h2>
                    @*descrição da curiosidade 04*@
                    <p>Embora os <span style="color:blue">cães</span> tenham uma visão superior à dos humanos em condições de pouca luz, eles não enxergam tão bem no escuro quanto muitas pessoas acreditam. Em vez disso, eles têm um recurso chamado "refletor de tapetum lucidum", que ajuda a maximizar a luz disponível, mas sua visão noturna ainda é relativamente limitada.</p>
                </div>
                <div class="col-md-4">
                    @*Título da curiosidade 05*@
                    <h2>Número de <span style="color:deeppink">gatos</span> em um único lar</h2>
                    @*descrição da curiosidade 05*@
                    <p>O recorde mundial para o maior número de <span style="color:deeppink">gatos</span> em um único lar é de mais de 1.000 gatos. Essa incrível coleção pertencia a um homem chamado Lynea Lattanzio, na Califórnia, Estados Unidos.</p>
                </div>
                <div class="col-md-4">
                    @*Título da curiosidade 06*@
                    <h2>Comunicação vocal</h2>
                    @*descrição da curiosidade 06*@
                    <p>Os <span style="color:blue">cães</span> são capazes de produzir uma ampla gama de sons, incluindo latidos, rosnados, uivos e gemidos. Eles usam esses sons para se comunicarem uns com os outros e também para se comunicarem com os humanos.</p>
                </div>
            </div>
            <hr>
        </div> <!-- /container -->
        <div class="container">
            <!-- Exemplo de linha de colunas -->
            <div class="row">
                <div class="col-md-4">
                    @*Título da curiosidade 07*@
                    <h2>Super ouvidos</h2>
                    @*descrição da curiosidade 07*@
                    <p>Os ouvidos dos <span style="color:blue">cães</span> são muito sensíveis. Eles podem ouvir frequências mais altas do que os humanos, o que lhes permite detectar sons que nós não conseguimos perceber. Além disso, eles têm a capacidade de mover suas orelhas em várias direções para melhorar sua audição.</p>
                </div>
                <div class="col-md-4">
                    @*Título da curiosidade 08*@
                    <h2>Impressões digitais únicas</h2>
                    @*descrição da curiosidade 08*@
                    <p>Assim como os seres humanos têm impressões digitais únicas, os <span style="color:blue">cães</span> têm padrões de nariz únicos. Esses padrões podem ser usados para identificar <span style="color:blue">cães</span> individualmente, assim como as impressões digitais são usadas para identificar humanos.</p>
                </div>
                <div class="col-md-4">
                    @*Título da curiosidade 09*@
                    <h2>100 sons vocais diferentes</h2>
                    @*descrição da curiosidade 09*@
                    <p>Os <span style="color:deeppink">gatos</span> têm a capacidade de fazer cerca de 100 sons vocais diferentes, enquanto os <span style="color:blue">cães</span> fazem apenas cerca de 10.</p>
                </div>
            </div>
            <hr>
        </div> <!-- /container -->
        <div class="container">
            <!-- Exemplo de linha de colunas -->
            <div class="row">
                <div class="col-md-4">
                    @*Título da curiosidade 10*@
                    <h2>Dedos</h2>
                    @*descrição da curiosidade 10*@
                    <p>Os <span style="color:deeppink">gatos</span> têm cinco dedos nas patas dianteiras, mas apenas quatro nas patas traseiras.</p>
                </div>
                <div class="col-md-4">
                    @*Título da curiosidade 11*@
                    <h2>Papilas gustativas</h2>
                    @*descrição da curiosidade 11*@
                    <p>Diferentemente dos <span style="color:blue">cães</span>, os <span style="color:deeppink">gatos</span> não têm papilas gustativas para detectar o sabor doce. Isso se deve a uma mutação genética que ocorreu há milhões de anos.</p>
                </div>
                <div class="col-md-4">
                    @*Título da curiosidade 12*@
                    <h2><span style="color:deeppink">Gatos</span> dormem</h2>
                    @*descrição da curiosidade 12*@
                    <p>Os <span style="color:deeppink">gatos</span> dormem em média 12 a 16 horas por dia. Isso ocorre porque eles são animais crepusculares, o que significa que são mais ativos durante o amanhecer e o anoitecer.</p>
                </div>
            </div>
            <hr>
        </div> <!-- /container -->
        <div class="container">
            <!-- Exemplo de linha de colunas -->
            <div class="row">
                <div class="col-md-4">
                    @*Título da curiosidade 13*@
                    <h2>Bigodes dos <span style="color:deeppink">gatos</span></h2>
                    @*descrição da curiosidade 13*@
                    <p>Os bigodes dos <span style="color:deeppink">gatos</span>, também conhecidos como vibrissas, são altamente sensíveis e ajudam os <span style="color:deeppink">gatos</span> a navegar em espaços estreitos, além de detectar mudanças na direção do vento e até mesmo alterações sutis no ambiente.</p>
                </div>
                <div class="col-md-4">
                    @*Título da curiosidade 14*@
                    <h2>Glândulas odoríferas</h2>
                    @*descrição da curiosidade 14*@
                    <p>Os <span style="color:deeppink">gatos</span> têm glândulas odoríferas nas bochechas, na testa, nos lábios, no queixo e na base do rabo. Eles esfregam essas áreas em objetos e pessoas para marcar território e mostrar afeto.</p>
                </div>
                <div class="col-md-4">
                    @*Título da curiosidade 15*@
                    <h2>Habilidade de saltar</h2>
                    @*descrição da curiosidade 15*@
                    <p>Os <span style="color:deeppink">gatos</span> têm a habilidade de saltar até seis vezes a altura do seu próprio corpo, o que os torna excelentes saltadores e escaladores.</p>
                </div>
            </div>
            <hr>
        </div> <!-- /container -->
        <div class="container">
            <!-- Exemplo de linha de colunas -->
            <div class="row">
                <div class="col-md-4">
                    @*Título da curiosidade 16*@
                    <h2>Órgão de Jacobson</h2>
                    @*descrição da curiosidade 16*@
                    <p>Os <span style="color:deeppink">gatos</span> têm um órgão especial chamado órgão de Jacobson, localizado no céu da boca. Esse órgão ajuda a processar e interpretar feromônios, substâncias químicas que desempenham um papel importante na comunicação felina.</p>
                </div>
                <div class="col-md-4">
                    @*Título da curiosidade 17*@
                    <h2>Digitígrados</h2>
                    @*descrição da curiosidade 17*@
                    <p>Diferentemente dos <span style="color:blue">cães</span>, os <span style="color:deeppink">gatos</span> caminham em seus dedos. Eles são digitígrados, o que significa que andam nas pontas dos dedos, com as almofadas das patas servindo como amortecedores.</p>
                </div>
                <div class="col-md-4">
                    @*Título da curiosidade 18*@
                    <h2>Olhos dos <span style="color:deeppink">gatos</span> brilham no escuro?</h2>
                    @*descrição da curiosidade 18*@
                    <p>Muitos animais com hábitos de caça noturna (como alguns répteis e diversos mamíferos) possuem uma superfície na retina conhecida como Tapetum Lucidum. Essa parte do olho funciona como um espelho e ajuda esses animais a enxergarem melhor no escuro, pois reflete a luz de volta para a camada fotorreceptora, fornecendo uma segunda oportunidade para a imagem ser captada adequadamente.</p>
                </div>
            </div>
            <hr>
        </div>        
        </div>
    </main>
</body>
@*ScrollrevealJS*@
<script src="https://unpkg.com/scrollreveal"></script>
@*switch.js*@
<div class="form-check form-switch ms-auto mt-3 me-3" style="position: fixed;bottom: 0;right: 0;">
    <label class="form-check-label ms-3" for="lightSwitch">
        <svg xmlns="http://www.w3.org/2000/svg"
             width="25"
             height="25"
             fill="currentColor"
             class="bi bi-brightness-high"
             viewBox="0 0 16 16">
            <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z" />
        </svg>
    </label>
    <input class="form-check-input" type="checkbox" id="lightSwitch" />
</div>