@{
    ViewData["Title"] = "Página inicial";
}

<main>
    @*carrousel*@
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        </ol>
        @*primeiro slide, do carrousel*@
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="~/images/1314166.jpg" alt="Primeiro Slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5><strong style=" color: black;">Doação de pets 🐶</strong></h5>
                    <p>
                        <strong style=" color: black;">
                        Aqui, você encontrará uma maneira fácil e segura de encontrar um novo lar para o seu animal de estimação.

                        Sabemos que, às vezes, circunstâncias imprevistas surgem e tornam impossível continuar cuidando de um animal de estimação. Nesses momentos, encontrar um novo lar para o seu animal pode ser uma solução difícil, mas necessária.</strong>
                    </p>
                </div>
            </div>
            @*segundo slide, do carrousel*@
            <div class="carousel-item">
                <img class="d-block w-100" src="~/images/260845.jpg" alt="Segundo Slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5><strong>Adoção de pets 🐱</strong></h5>
                    <p>
                        <strong>
                            Aqui, você encontrará uma grande variedade de animais que estão em busca de um lar amoroso e acolhedor.

                            Adotar um animal de estimação é uma decisão que traz muitas recompensas. Além de oferecer um lar seguro e amoroso para um animal que precisa, você também estará recebendo um companheiro fiel e leal para compartilhar a vida.
                        </strong>

                    </p>
                </div>
            </div>
            @*terceiro slide, do carrousel*@
            <div class="carousel-item">
                <img class="d-block w-100" src="~/images/102211.jpg" alt="Segundo Slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5><strong style=" color: black;">🐶 Achados e Perdidos 🐱</strong></h5>
                    <p>
                        <strong style=" color: black;">
                        Aqui você encontrará um espaço destinado a ajudar a reunir animais de estimação amados e suas famílias. Se você perdeu seu fiel companheiro ou se deparou com um cachorro perdido, você veio ao lugar certo. Nossa plataforma é projetada para conectar pessoas que buscam seus animais de estimação desaparecidos com aqueles que encontraram cães perdidos.</strong>
                    </p>
                </div>
            </div>
            @*botões do carrousel*@
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Próximo</span>
            </a>
        </div>
        @*divisor de linhas*@
        <hr class="featurette-divider">
</main>