@{
    ViewData["Title"] = "Perdidos";
}

<main role="main">
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        @*imagem01*@
                        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="~/images/351120405_1406861346745891_387280139438524829_n.jpg" data-holder-rendered="true">
                        <div class="card-body">
                            @*descrição01*@
                            <p class="card-text">🐶 Bidu <br />♂️ Macho / Pequeno <br /> 3 anos</p>
                            <div class="d-flex justify-content-between align-items-center">
                                @*botões01*@
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><a asp-area="" asp-controller="Perdidos" asp-action="Bidu"> Ver </a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        @*imagem02*@
                        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="~/images/350525101_1346452842586433_5899519096855312178_n.jpg" data-holder-rendered="true">
                        <div class="card-body">
                            @*descrição02*@
                            <p class="card-text">🐶 Birulei & Nina <br />♂️ Macho &  ‍♀️ Fêmea, ambos pequenos <br /> 2 & 3 anos </p>
                            <div class="d-flex justify-content-between align-items-center">
                                @*botões02*@
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><a asp-area="" asp-controller="Perdidos" asp-action="BiruleiNina"> Ver </a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        @*imagem03*@
                        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="~/images/350141156_1360571161167653_1002568895089828365_n.jpg" data-holder-rendered="true">
                        <div class="card-body">
                            @*descrição03*@
                            <p class="card-text">🐱 Princesa <br />♀️ Fêmea / Pequena <br /> 5 anos</p>
                            <div class="d-flex justify-content-between align-items-center">
                                @*botões03*@
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><a asp-area="" asp-controller="Perdidos" asp-action="Princesa"> Ver </a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        @*imagem04*@
                        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="~/images/351498093_219148440882917_6264918925996462657_n.jpg" data-holder-rendered="true">
                        <div class="card-body">
                            @*descrição04*@
                            <p class="card-text">🐶 Brisa <br />♀️ Fêmea / Pequena <br /> 6 anos</p>
                            <div class="d-flex justify-content-between align-items-center">
                                @*botões04*@
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><a asp-area="" asp-controller="Perdidos" asp-action="Brisa"> Ver </a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        @*imagem05*@
                        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="~/images/350772182_1469501203790100_6390765218528025040_n.jpg" data-holder-rendered="true">
                        <div class="card-body">
                            @*descrição05*@
                            <p class="card-text">🐶 Pitoco & Chris<br />♂️ Macho / Grande & Pequeno <br /> 5 & 1 anos</p>
                            <div class="d-flex justify-content-between align-items-center">
                                @*botões05*@
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><a asp-area="" asp-controller="Perdidos" asp-action="PitocoChris"> Ver </a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        @*imagem06*@
                        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="~/images/350511314_248549744490297_4752898366548204959_n.jpg" data-holder-rendered="true">
                        <div class="card-body">
                            @*descrição06*@
                            <p class="card-text">🐶 Spike <br />♂️ Macho / Pequeno <br /> 7 anos</p>
                            <div class="d-flex justify-content-between align-items-center">
                                @*botões06*@
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><a asp-area="" asp-controller="Perdidos" asp-action="Spike"> Ver </a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        @*imagem07*@
                        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="~/images/349756016_162403783295905_3712207384504384382_n.jpg" data-holder-rendered="true">
                        <div class="card-body">
                            @*descrição07*@
                            <p class="card-text">🐶 Mel <br />♀️ Fêmea / Pequeno <br /> 4 anos</p>
                            <div class="d-flex justify-content-between align-items-center">
                                @*botões07*@
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><a asp-area="" asp-controller="Perdidos" asp-action="Mel"> Ver </a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        @*imagem08*@
                        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="~/images/349083682_1611085656054810_1281210572621562986_n.jpg" data-holder-rendered="true">
                        <div class="card-body">
                            @*descrição08*@
                            <p class="card-text">🐶 Peteco <br />♂️ Macho / Pequeno <br /> 4 anos</p>
                            <div class="d-flex justify-content-between align-items-center">
                                @*botões08*@
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><a asp-area="" asp-controller="Perdidos" asp-action="Peteco"> Ver </a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        @*imagem09*@
                        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="~/images/349917378_243301835056177_8457899056121018857_n.jpg" data-holder-rendered="true">
                        <div class="card-body">
                            @*descrição09*@
                            <p class="card-text">🐶 Zeca <br />♂️ Macho / Pequeno <br /> 7 anos</p>
                            <div class="d-flex justify-content-between align-items-center">
                                @*botões09*@
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><a asp-area="" asp-controller="Perdidos" asp-action="Zeca"> Ver </a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*divisor de linhas*@
    <hr class="featurette-divider">
</main>
