@{
    ViewData["Title"] = "Produtos";
}
<main>
    @*produtos*@
    <div class="row">
        <div class="col-4">
            <img src="~/images/Panfleto promoção pet shop ração e cachorro branco, preto e lilás2.gif" style="width:350px;height:505px;border-radius:20px;" type="button" data-toggle="modal" data-target="#modalExemplo01" />
    </div>
        <div class="col-4">
            <img src="~/images/Hora do banho cachorro colorido e divertido amarelo Post do instagram.gif" style="width:350px;height:505px;border-radius:20px;" type="button" data-toggle="modal" data-target="#modalExemplo02" />
    </div>
        <div class="col-4">
            <img src="~/images/Panfleto promoção pet shop ração e cachorro branco, preto e lilás3.gif" style="width:350px;height:505px;border-radius:20px;" type="button" data-toggle="modal" data-target="#modalExemplo03" />
        </div>
    </div>
    <!-- Modal 01 -->
    <div class="modal fade" id="modalExemplo01" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="TituloModalCentralizado" style="color:black;">Ração de cachorro</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="color:black;">
                    <p style="text-align:center;">QR CODE PIX:</p>
                    <img src="~/images/qr-code-21338.png" style="height:250px;width:450px;" />

                    <p style="text-align:center;">Preço: R$ 20,00</p>              
                    <br />
                    *Envie o comprovante de pagamento pelo WhatsApp
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <a href="https://api.whatsapp.com/send?phone=+5511987886593&text=Oi,%20aqui%20esta%20meu%20comprovante%20de%20pagamento." target="_blank"><button type="button" class="btn btn-primary">WhatsApp</button></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 02 -->
    <div class="modal fade" id="modalExemplo02" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="TituloModalCentralizado" style="color:black;">Banho e tosa</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="color:black;">
                    <p style="text-align:center;">QR CODE PIX:</p>
                    <img src="~/images/qr-code-21338.png" style="height:250px;width:450px;" />

                    <p style="text-align:center;">Preço: R$ 55,00</p>
                    <br />
                    *Envie o comprovante de pagamento pelo WhatsApp
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <a href="https://api.whatsapp.com/send?phone=+5511987886593&text=Oi,%20aqui%20esta%20meu%20comprovante%20de%20pagamento." target="_blank"> <button type="button" class="btn btn-primary">WhatsApp</button></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 03 -->
    <div class="modal fade" id="modalExemplo03" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="TituloModalCentralizado" style="color:black;">Ração de gato</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="color:black;">
                    <p style="text-align:center;">QR CODE PIX:</p>
                    <img src="~/images/qr-code-21338.png" style="height:250px;width:450px;" />

                    <p style="text-align:center;">Preço: R$ 10,00</p>
                    <br />
                    *Envie o comprovante de pagamento pelo WhatsApp
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <a href="https://api.whatsapp.com/send?phone=+5511987886593&text=Oi,%20aqui%20esta%20meu%20comprovante%20de%20pagamento." target="_blank"> <button type="button" class="btn btn-primary">WhatsApp</button></a>
                </div>
            </div>
        </div>
    </div>
    @*divisor de linhas*@
    <hr class="featurette-divider">
</main>
@*switch.js*@
<div class="form-check form-switch ms-auto mt-3 me-3" style="position: fixed;bottom: 0;right: 0;">
    <label class="form-check-label ms-3" for="lightSwitch">
        <svg xmlns="http://www.w3.org/2000/svg"
             width="25"
             height="25"
             fill="currentColor"
             class="bi bi-brightness-high"
             viewBox="0 0 16 16">
            <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z" />
        </svg>
    </label>
    <input class="form-check-input" type="checkbox" id="lightSwitch" />
</div>
@*script modal*@
<script>
    $('#meuModal').on('shown.bs.modal', function () {
        $('#meuInput').trigger('focus')
    })
</script>
