html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.carrousel {
    color: black;
    background-color: white;
}
.inicialDestaqueAzul {
    color: #006FE6;
}
.descriçãoNoticia {
    color: black;
}
.messages {
    height: 400px;
    width: 200%;
    background-color: #eee;
    border-radius: 20px 20px 0 0;
    padding: 20px;
    overflow-y: scroll;
}

.response {
    float: left;
    background-color: gray;
    width: 80%;
    padding: 20px;
    margin: 5px 20px;
    border-radius: 20px 20px 20px 0;
    color: white;
    font-size: 13px;
}

.question {
    float: right;
    background-color: dodgerblue;
    width: 80%;
    padding: 20px;
    margin: 5px 20px;
    border-radius: 20px 20px 0 20px;
    color: white;
    font-size: 13px;
}

.textMessage input {
    width: 200%;
    padding: 20px;
    border: none;
    background-color: lightgray;
}

    .textMessage input:focus {
        outline: none;
    }

.textMessage button {
    width: 200%;
    padding: 10px;
    color: white;
    background-color: dodgerblue;
    border: none;
    border-radius: 0 0 20px 20px;
}
.containe {
    display: flex;
    justify-content: center;
    align-items: center;

}
.scrollReveal{
    visibility: hidden;
}
/*splash screen*/
.intro{
    position:fixed;
    z-index:1;
    left:0;
    top:0;
    width:100%;
    height:100vh;
    background-color:#161616;
    transition:1s;
}
.logo-header{
    position:absolute;
    top:40%;
    left:50%;
    transform:translate(-50%,-50%);
    color:#ffffff;
}
.logo{
    position: relative;
    display:inline-block;
    bottom:-20px;
    opacity:0;
}
.logo.active{
    bottom:0;
    opacity:1;
    transition:ease-in-out 0.5s;
}
.logo.fade{
    bottom:150px;
    opacity:0;
    transition: ease-in-out 0.5s;
}