@{
    ViewData["Title"] = "Bidu";
}
<main>
    @*Cabecalho*@
    <h3>Cidade atual</h3>
    @*divisor de linhas*@
    <hr class="featurette-divider">
    <p><strong style=" color: orange;">SP  </strong> - <strong style=" color: green;">São Paulo</strong>  </p>
    <p><h3>Procura-se esse cachorro</h3> <a href="https://api.whatsapp.com/send?text=*Procura-se%20esse%20Cachorro*%20https://localhost:7014/Perdidos/Bidu"><img src="~/images/whatsapp-logo-5.png" /></a> </p>
    @*divisor de linhas*@
    <hr class="featurette-divider">
    <p><strong style="color: blue;">Bidu  </strong> - <strong style="color:brown">3 anos</strong></p>
    <img style="display: block; margin: 0 auto;" src="~/images/351120405_1406861346745891_387280139438524829_n.jpg" />
    @*Descrição e formas de contato*@
    <p>♂️ Macho / Pequeno</p>
    <p><strong style=" color: Red;"> » Perdido em: 03/06/2023</strong></p>
    <p>Por favor, estamos desesperados. Oferecemos recompensa.</p>
    <p><strong style=" color: Red;"> » Contato sobre o animal</strong></p>
    <p><strong>Davi</strong> </p>
    <p style="color: blue;">davi.latiak96@gmail.com</p>
    <p>Fone: <strong style="color: blue;">(11) 98414-6102</strong></p>
    <p>São Paulo - SP</p>
    @*divisor de linhas*@
    <hr class="featurette-divider">
</main>

