@{
    ViewData["Title"] = "Birulei & Nina";
}
<main>
    @*Cabecalho*@
    <h3>Cidade atual</h3>
    @*divisor de linhas*@
    <hr class="featurette-divider">
    <p><strong style=" color: orange;">SP  </strong> - <strong style=" color: green;">Santo André</strong>  </p>
    <p><h3>Procura-se esse cachorro</h3><a href="https://api.whatsapp.com/send?text=*Procura-se%20esse%20Cachorro*%20https://localhost:7014/Perdidos/BiruleiNina"><img src="~/images/whatsapp-logo-5.png" /></a></p>
    @*divisor de linhas*@
    <hr class="featurette-divider">
    <p><strong style="color: blue;">Birulei & Nina  </strong> - <strong style="color:brown">2 & 3 anos</strong></p>
    <img style="display: block; margin: 0 auto;" src="~/images/350525101_1346452842586433_5899519096855312178_n.jpg" />
    @*Descrição e formas de contato*@
    <p>♂️ Macho & ‍♀️ Fêmea, ambos pequenos</p>
    <p><strong style=" color: deepskyblue;"> » Achado em: 02/03/2023</strong></p>
    <p>Se você encontrou ou viu ela em algum lugar por favor entre em contato, ajude divulgando. Obrigado</p>
    <p><strong style=" color: deepskyblue;"> » Contato sobre o animal</strong></p>
    <p>
        <strong>
            Sergio
        </strong>
    </p>
    <p style="color: blue;">sdpjr10@gmail.com</p>
    <p>Fone: <strong style="color: blue;">(11) 9599-6643</strong></p>
    <p>Santo André - SP</p>
    @*divisor de linhas*@
    <hr class="featurette-divider">
</main>

