@{
    ViewData["Title"] = "Brisa";
}
<main>
    <div class="row">
        <div class="col-8">
    @*Cabecalho*@
    <h3>Cidade atual</h3>
    @*divisor de linhas*@
    <hr class="featurette-divider">
    <p><strong style=" color: orange;">SP  </strong> - <strong style=" color: green;">Carapicuíba</strong>  </p>
            <p><h3>Procura-se esse cachorro</h3><a href="https://api.whatsapp.com/send?text=*Procura-se%20esse%20Cachorro*%20https://localhost:7014/Perdidos/Brisa"><img src="~/images/whatsapp-logo-5.png" /></a><img src="~/images/icons8-print.gif" onclick="display()" /></p>
    @*divisor de linhas*@
    <hr class="featurette-divider">
    <p><strong style="color: blue;">Brisa  </strong> - <strong style="color:brown">6 anos</strong></p>
    @*Descrição e formas de contato*@
    <p>♀️ Fêmea / Pequena</p>
    <p><strong style=" color: Red;"> » Perdido em: 07/05/2022</strong></p>
    <p>
        Animal dócil meia idosa, domésticada, tratada como filha. Oferecemos recompensa
    </p>
    <p><strong style=" color: Red;"> » Contato sobre o animal</strong></p>
    <p><strong>Aline</strong> </p>
    <p style="color: blue;">alinemr2008@gmail.com</p>
    <p>Fone: <strong style="color: blue;">(11) 97619-8475</strong></p>
    <p>Carapicuíba - SP</p>
    </div>
    <div class="col-4">
            <img style="width:465px;height:515px;border-radius:20px;margin-top:50px;" src="~/images/351498093_219148440882917_6264918925996462657_n.jpg" />
    </div>
    </div>
    @*divisor de linhas*@
    <hr class="featurette-divider">
</main>

