@{
    ViewData["Title"] = "Mel";
}
<main>
    <div class="row">
        <div class="col-8">
    @*Cabecalho*@
    <h3>Cidade atual</h3>
    @*divisor de linhas*@
    <hr class="featurette-divider">
    <p><strong style=" color: orange;">SP  </strong> - <strong style=" color: green;">General Miguel Costa</strong>  </p>
            <p>
                <h3>Procura-se esse cachorro</h3><a href="https://api.whatsapp.com/send?text=*Procura-se%20esse%20Cachorro*%20https://localhost:7014/Perdidos/Mel"><img src="~/images/whatsapp-logo-5.png" /></a><img src="~/images/icons8-print.gif" onclick="display()" />
            </p>
    @*divisor de linhas*@
    <hr class="featurette-divider">
    <p><strong style="color: blue;">Mel  </strong> - <strong style="color:brown">4 anos</strong></p>
    @*Descrição e formas de contato*@
    <p>♀️ Fêmea / Pequeno</p>
    <p><strong style=" color: Red;"> » Perdido em: 19/03/2023</strong></p>
    <p>Fugiu na Rua Nova Brasília Jardim Dona Sinhá Zona leste. Oferecemos recompensa.</p>
    <p><strong style=" color: Red;"> » Contato sobre o animal</strong></p>
    <p><strong>Rosana</strong> </p>
    <p style="color: blue;">rosanakefas@gmail.com</p>
    <p>Fone: <strong style="color: blue;">(11) 95431-1113</strong></p>
    <p>General Miguel Costa - SP</p>
        </div>
        <div class="col-4">
            <img style="width:465px;height:515px;border-radius:20px;margin-top:50px;" src="~/images/349756016_162403783295905_3712207384504384382_n.jpg" />
        </div>
    </div>
    @*divisor de linhas*@
    <hr class="featurette-divider">
</main>

@*Script para  imprimir
*@<script>
      function display() {
          window.print();
      }
</script>