@{
    ViewData["Title"] = "Pitoco & Chris";
}
<main>
    @*Cabecalho*@
    <h3>Cidade atual</h3>
    @*divisor de linhas*@
    <hr class="featurette-divider">
    <p><strong style=" color: orange;">SP  </strong> - <strong style=" color: green;">Osasco</strong>  </p>
    <p><h3>Procura-se esse cachorro</h3></p>
    @*divisor de linhas*@
    <hr class="featurette-divider">
    <p><strong style="color: blue;">Pitoco & Chris  </strong> - <strong style="color:brown">5 & 1 anos</strong></p>
    <img style="display: block; margin: 0 auto;" src="~/images/350772182_1469501203790100_6390765218528025040_n.jpg" />
    @*Descrição e formas de contato*@
    <p>♂️ Macho / Grande & Pequeno</p>
    <p><strong style=" color: Red;"> » Perdido em: 27/05/2023</strong></p>
    <p>Por favor qualquer informação entrem em contato no número (11)930296588</p>
    <p><strong style=" color: Red;"> » Contato sobre o animal</strong></p>
    <p><strong>Alessandra</strong> </p>
    <p style="color: blue;">lessa.souzah@gmail.com</p>
    <p>Fone: <strong style="color: blue;">(11) 93029-6588</strong></p>
    <p>Osasco - SP</p>
    @*divisor de linhas*@
    <hr class="featurette-divider">
</main>

