@{
    ViewData["Title"] = "Zeca";
}
<main>
    @*Cabecalho*@
    <h3>Cidade atual</h3>
    @*divisor de linhas*@
    <hr class="featurette-divider">
    <p><strong style=" color: orange;">SP  </strong> - <strong style=" color: green;">Barueri</strong>  </p>
    <p><h3>Procura-se esse cachorro</h3></p>
    @*divisor de linhas*@
    <hr class="featurette-divider">
    <p><strong style="color: blue;">Zeca  </strong> - <strong style="color:brown">7 anos</strong></p>
    <img style="display: block; margin: 0 auto;" src="~/images/349917378_243301835056177_8457899056121018857_n.jpg" />
    @*Descrição e formas de contato*@
    <p>♂️ Macho / Pequeno</p>
    <p><strong style=" color: deepskyblue;"> » Achado em: 26/05/2023</strong></p>
    <p>Ele é magro com as patas grandes</p>
    <p><strong style=" color: deepskyblue;"> » Contato sobre o animal</strong></p>
    <p>
        <strong>
            Débora
        </strong>
    </p>
    <p style="color: blue;">debora.procopio@hotmail.com</p>
    <p>Fone: <strong style="color: blue;">(11) 96785-7827</strong></p>
    <p>Barueri - SP</p>
    @*divisor de linhas*@
    <hr class="featurette-divider">
</main>

